<a href="https://colab.research.google.com/github/edipasq/test/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

In [ ]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2022-01-24 04:52:28--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  --.-KB/s    in 0.1s

2022-01-24 04:52:29 (5.90 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [ ]:
from pyspark import SparkFiles
#url="https://<bucket name>.s3.amazonaws.com/user_data.csv"
url="https://bucket2-etl-class.s3.us-west-1.amazonaws.com/user_data.csv"
spark.sparkContext.addFile(url)
user_data_df = spark.read.csv(SparkFiles.get("user_data.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
user_data_df.show()

+---+----------+---------+-----------+--------------------+--------------------+------------+
| id|first_name|last_name|active_user|      street_address|               state|    username|
+---+----------+---------+-----------+--------------------+--------------------+------------+
|  1|    Cletus|  Lithcow|      false| 78309 Riverside Way|            Virginia|   ibearham0|
|  2|       Caz|   Felgat|      false| 83 Hazelcrest Place|             Alabama|    wwaller1|
|  3|     Kerri|  Crowson|      false|      112 Eliot Pass|      North Carolina|   ichesnut2|
|  4|   Freddie|    Caghy|      false|     15 Merchant Way|            New York|     tsnarr3|
|  5|   Sadella|    Deuss|      false|    079 Acker Avenue|           Tennessee|   fwherrit4|
|  6|    Fraser|  Korneev|       true|  76084 Novick Court|           Minnesota|  fstappard5|
|  7|    Demott|   Rapson|       true|    86320 Dahle Park|District of Columbia|  lhambling6|
|  8|    Robert|    Poile|      false|1540 Manitowish Hill|             Georgia|      drude7|
|  9|    Nollie|     null|       true|       4 Katie Court|                Ohio|   bspawton8|
| 10|   Merilyn| Frascone|      false|     387 Duke Street|                Ohio| rmackeller9|
| 11|    Rickie| Tredwell|      false|  04 Monterey Center|            Missouri| cdennerleya|
| 12|  Charmane| Connerry|      false|    0 Larry Junction|             Florida|    gsarfasb|
| 13|     Nerti|   Kerins|      false|    68 Portage Trail|          California| mpichefordc|
| 14|      Bart|     null|      false|    8 Homewood Court|District of Columbia|     bingryd|
| 15|   Sadella|    Jaram|       true|7528 Waxwing Terrace|         Connecticut|   wheinerte|
| 16|     Dicky|  Runnett|      false|  1793 Delaware Park|             Florida|    mdrewetf|
| 17|    Hewitt|  Trammel|       true|    2455 Corry Alley|      North Carolina|droughsedgeg|
| 18|  Gilligan|     Boys|      false|       2 Raven Court|             Florida|     abaakeh|
| 19|       Ted|  Knowlys|       true|      31 South Drive|                Ohio|   ydudeniei|
| 20|      Darb|   Carrel|      false|406 Park Meadow C...|           Minnesota|   ckermittj|
+---+----------+---------+-----------+--------------------+--------------------+------------+
only showing top 20 rows

In [ ]:
url="https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Wireless_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
w_df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Wireless_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)

# Show DataFrame
w_df.show(5)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   16414143|R3W4P9UBGNGH1U|B00YL0EKWE|     852431543|LG G4 Case Hard T...|        Wireless|          2|            1|          3|   N|                Y|Looks good, funct...|2 issues  -  Once...| 2015-08-31|
|         US|   50800750|R15V54KBMTQWAY|B00XK95RPQ|     516894650|Selfie Stick Fibl...|        Wireless|          4|            0|          0|   N|                N| A fun little gadget|I’m embarrassed t...| 2015-08-31|
|         US|   15184378| RY8I449HNXSVF|B00SXRXUKO|     984297154|Tribe AB40 Water ...|        Wireless|          5|            0|          0|   N|                Y|          Five Stars|  Fits iPhone 6 well| 2015-08-31|
|         US|   10203548|R18TLJYCKJFLSR|B009V5X1CE|     279912704|RAVPower® Element...|        Wireless|          5|            0|          0|   N|                Y|       Great charger|Great charger.  I...| 2015-08-31|
|         US|     488280|R1NK26SWS53B8Q|B00D93OVF0|     662791300|Fosmon Micro USB ...|        Wireless|          5|            0|          0|   N|                Y|          Five Stars|Great for the pri...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col

print(df.count())

In [ ]:
print(w_df.count())

9002021

In [ ]:
w_df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: string (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: string (nullable = true)

In [ ]:
print(w_df.count())
w_df = w_df.dropna()
print(w_df.count())
df = w_df.dropDuplicates()
print(w_df.count())

9002021
9001051
9001051

NameError: ignored

In [ ]:
w_df2 = w_df.select(["review_id", "customer_id", "product_id", "product_parent",'review_date'])
w_df2.show(5)

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R3W4P9UBGNGH1U|   16414143|B00YL0EKWE|     852431543| 2015-08-31|
|R15V54KBMTQWAY|   50800750|B00XK95RPQ|     516894650| 2015-08-31|
| RY8I449HNXSVF|   15184378|B00SXRXUKO|     984297154| 2015-08-31|
|R18TLJYCKJFLSR|   10203548|B009V5X1CE|     279912704| 2015-08-31|
|R1NK26SWS53B8Q|     488280|B00D93OVF0|     662791300| 2015-08-31|
+--------------+-----------+----------+--------------+-----------+
only showing top 5 rows

In [ ]:
w_df2 = w_df.select(["review_id", "customer_id", "product_id", "product_parent",'review_date'])
w_df2.show(5)

In [ ]:
from pyspark.sql.functions import *

d=w_df2.select('review_id','customer_id','product_id','product_parent',date_format(col('review_date'),"yyyy-MM-dd").alias('rev').cast("date"))

In [ ]:
d.show()

+--------------+-----------+----------+--------------+----------+
|     review_id|customer_id|product_id|product_parent|       rev|
+--------------+-----------+----------+--------------+----------+
|R3W4P9UBGNGH1U|   16414143|B00YL0EKWE|     852431543|2015-08-31|
|R15V54KBMTQWAY|   50800750|B00XK95RPQ|     516894650|2015-08-31|
| RY8I449HNXSVF|   15184378|B00SXRXUKO|     984297154|2015-08-31|
|R18TLJYCKJFLSR|   10203548|B009V5X1CE|     279912704|2015-08-31|
|R1NK26SWS53B8Q|     488280|B00D93OVF0|     662791300|2015-08-31|
|R11LOHEDYJALTN|   13334021|B00XVGJMDQ|     421688488|2015-08-31|
|R3ALQVQB2P9LA7|   27520697|B00KQW1X1C|     554285554|2015-08-31|
|R3MWLXLNO21PDQ|   48086021|B00IP1MQNK|     488006702|2015-08-31|
|R2L15IS24CX0LI|   12738196|B00HVORET8|     389677711|2015-08-31|
|R1DJ8976WPWVZU|   15867807|B00HX3G6J6|     299654876|2015-08-31|
|R3MRWNNR8CBTB7|    1972249|B00U4NATNQ|     577878727|2015-08-31|
|R1DS6DKTUXAQK3|   10956619|B00SZEFDH8|     654620704|2015-08-31|
| RWJM5E0TWUJD2|   14805911|B00JRJUL9U|     391166958|2015-08-31|
|R1XTJKDYNCRGAC|   15611116|B00KQ4T0HE|     481551630|2015-08-31|
|R2UZL3DPWEU1XW|   39298603|B00M0YWKPM|     685107474|2015-08-31|
|R2EZXET9KBFFU3|   17552454|B00KDZEE68|     148320945|2015-08-31|
|R26VY1L1FD3LPU|   12218556|B00BJN45GM|      47788188|2015-08-31|
|R2SSA4NSFCV18T|   21872923|B00SA86SXW|     748759272|2015-08-31|
|R1G6333JHJNEUQ|   16264332|B00Q3I68TU|     974085141|2015-08-31|
|R2DRG0UZXJQ0PE|    6042304|B00TN4J1TA|     716174627|2015-08-31|
+--------------+-----------+----------+--------------+----------+
only showing top 20 rows

In [ ]:
d.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- rev: date (nullable = true)

In [ ]:
d = d.withColumnRenamed("rev", "review_date")

In [ ]:
d.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R3W4P9UBGNGH1U|   16414143|B00YL0EKWE|     852431543| 2015-08-31|
|R15V54KBMTQWAY|   50800750|B00XK95RPQ|     516894650| 2015-08-31|
| RY8I449HNXSVF|   15184378|B00SXRXUKO|     984297154| 2015-08-31|
|R18TLJYCKJFLSR|   10203548|B009V5X1CE|     279912704| 2015-08-31|
|R1NK26SWS53B8Q|     488280|B00D93OVF0|     662791300| 2015-08-31|
|R11LOHEDYJALTN|   13334021|B00XVGJMDQ|     421688488| 2015-08-31|
|R3ALQVQB2P9LA7|   27520697|B00KQW1X1C|     554285554| 2015-08-31|
|R3MWLXLNO21PDQ|   48086021|B00IP1MQNK|     488006702| 2015-08-31|
|R2L15IS24CX0LI|   12738196|B00HVORET8|     389677711| 2015-08-31|
|R1DJ8976WPWVZU|   15867807|B00HX3G6J6|     299654876| 2015-08-31|
|R3MRWNNR8CBTB7|    1972249|B00U4NATNQ|     577878727| 2015-08-31|
|R1DS6DKTUXAQK3|   10956619|B00SZEFDH8|     654620704| 2015-08-31|
| RWJM5E0TWUJD2|   14805911|B00JRJUL9U|     391166958| 2015-08-31|
|R1XTJKDYNCRGAC|   15611116|B00KQ4T0HE|     481551630| 2015-08-31|
|R2UZL3DPWEU1XW|   39298603|B00M0YWKPM|     685107474| 2015-08-31|
|R2EZXET9KBFFU3|   17552454|B00KDZEE68|     148320945| 2015-08-31|
|R26VY1L1FD3LPU|   12218556|B00BJN45GM|      47788188| 2015-08-31|
|R2SSA4NSFCV18T|   21872923|B00SA86SXW|     748759272| 2015-08-31|
|R1G6333JHJNEUQ|   16264332|B00Q3I68TU|     974085141| 2015-08-31|
|R2DRG0UZXJQ0PE|    6042304|B00TN4J1TA|     716174627| 2015-08-31|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [ ]:
mode="append"
jdbc_url = "jdbc:postgresql://database-1.cz0jfhlrydbo.us-west-1.rds.amazonaws.com:5432/bigdatadb"
config = {"user":"postgres",
          "password": "Elenacortes1!",
          "driver":"org.postgresql.Driver"}

In [ ]:
d.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [ ]:
p_df2 = w_df.select(["product_id", "product_title"])
p_df2.show(5)

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B00YL0EKWE|LG G4 Case Hard T...|
|B00XK95RPQ|Selfie Stick Fibl...|
|B00SXRXUKO|Tribe AB40 Water ...|
|B009V5X1CE|RAVPower® Element...|
|B00D93OVF0|Fosmon Micro USB ...|
+----------+--------------------+
only showing top 5 rows

In [ ]:
p_df22 = p_df2.dropDuplicates()

In [ ]:
p_df22.write.jdbc(url=jdbc_url, table='products', mode=mode, properties=config)